{% extends 'connect/base.html' %}

{% block content %}
<div class="container">

        <!-- Introduction Row -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">About Us

                </h1>
                <p>We are the Victorian Code team.</p>
            </div>
        </div>

        <!-- Team Members Row -->
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <h2 class="page-header">Our Team</h2>
            </div>
            <div class="col-lg-6 col-md-6 text-center">
                <img class="img-circle img-responsive img-center" src="https://avatars2.githubusercontent.com/u/22617781?v=3&s=400" width="200" height="200" alt="">
                <h3 >Anastasios Agathokleous
                </h3>
            </div>
            <div class="col-lg-6 col-md-6 text-center">
                <img class="img-circle img-responsive img-center" src="https://avatars1.githubusercontent.com/u/7302275?v=3&s=400" width="200" height="200" alt="">
                <h3>Nikos Theodosis
                </h3>
            </div>
            <div class="col-lg-6 col-md-6 text-center">
                <img class="img-circle img-responsive img-center" src="https://avatars3.githubusercontent.com/u/1192342?v=3&s=400" width="200" height="200" alt="">
                <h3>Pavlos Ratis
                </h3>
            </div>
            <div class="col-lg-6 col-md-6 text-center">
                <img class="img-circle img-responsive img-center" src="https://avatars0.githubusercontent.com/u/8109485?v=3&s=460" width="200" height="200" alt="">
                <h3>Malion Hoxhallari
                </h3>
            </div>
        </div>

</div>


{% endblock %}
