{% extends 'connect/base.html' %}

{% block navbar %}
<button id="sidebar-toggle" title="Show/hide sidebar" type="button" data-toggle="#sidebar"
        class="navbar-left navbar-toggle pull-left">
    <span class="glyphicon glyphicon-list"></span>
</button>
{% endblock %}

{% block uni_feed %}
<li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
    <span class="glyphicon glyphicon-bullhorn"></span> University News</a>
    <ul class="dropdown-menu">
        {% for entry in feeds.entries|slice:":5" %}
        <li><a href="{{ entry.link }}" target="_blank">{{ entry.title }}</a></li>
        {% endfor %}
    </ul>
</li>
{% endblock %}

{% block content %}
<div id="alert-offline-user" class="alert alert-danger alert-dismissable text-center">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <strong>You cannot send a notification to an offline user.</strong>
</div>
<!-- Modal -->
<div id="notificationModal" tabindex="-1" class="modal fade" role="dialog" data-backdrop="false">
    <div class="modal-dialog" role="document">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Send Notification</h4>
            </div>
            <div class="modal-body">
                <div id="alert-empty-fields" class="alert alert-danger alert-dismissable text-center">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    <strong>Please fill in all the fields.</strong>
                </div>
                <div class="input-group">
                        <span class="input-group-addon" id="basic-addon1"><i
                                class="glyphicon glyphicon-envelope"></i></span>
                    <input id="notificationMessage" maxlength="140" type="text" class="form-control"
                           placeholder="Write a short message"
                           aria-describedby="basic-addon1">
                </div>
                <hr>
                <div class="input-group">
                        <span class="input-group-addon" id="basic-addon2"><i
                                class="glyphicon glyphicon-picture"></i></span>
                    <input id="notificationPlace" type="text" class="form-control" placeholder="Enter the meeting place"
                           aria-describedby="basic-addon1">
                </div>
                <hr>
                <div class="input-group input-append date form_datetime">
                           <span class="input-group-addon" id="basic-addone"><i
                                   class="glyphicon glyphicon-time"></i></span>
                    <input readonly id="notificationTime" value="" type="text" class="form-control"
                           placeholder="Select meeting time"
                           aria-describedby="basic-addon1">
                    <span class="add-on"><i class="icon-th"></i></span>
                </div>
            </div>
            <div class="modal-footer">
                <button id="btnSendNotification" type="button" class="btn btn-block btn-success">Send notification to
                    <label id="user_name" class="form-control-label"></label> !
                </button>
            </div>
        </div>

    </div>
</div>


<div id="wrapper" class="toggled">
    <!-- Sidebar -->
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav" id="users_list">
            <a href="#menu-toggle" class="btn btn-primary form-control" id="sidebar-toggle2">Close sidebar
                <i class="glyphicon glyphicon-chevron-left"></i>
            </a>

            <div class='input-group manualInput'>
                <input id='filter' type='text' onkeyup="filterUsers()" class='form-control'
                       placeholder='Search by name...'/>
                <span class='input-group-addon'>
                      <i class='glyphicon glyphicon-user'></i>
                   </span>
            </div>
            <li class="sidebar-brand">
                <a title="Refresh" href="#" onclick="refreshOnlineUsers(true)">
                    Available Users<span title="Refresh"><i class="glyphicon glyphicon-refresh"></i></span>
                </a>
            </li>

        </ul>
        <div class="footer">
            Victorian Code &copy {% now 'Y' %}
        </div>
    </div>
    <!-- /#sidebar-wrapper -->

</div>
<!-- /#wrapper -->


<!-- Google Maps page -->
<div id="map"></div>

<input id="userSelected" type="text" value="">
<input id="token" type="text" value="{{ csrf_token }}">
<script>
        // Note: This example requires that you consent to location sharing when
        // prompted by your browser. If you see the error "The Geolocation service
        // failed.", it means you probably did not give permission for the browser to
        // locate you.

        function initMap() {
            var map = new google.maps.Map(document.getElementById('map'), {

                // Initialize the map over the Uni
                center: {lat: 55.870351, lng: -4.28509},
                zoom: 18,
                mapTypeControlOptions: {
                  style: google.maps.MapTypeControlStyle.HORIZONTAL_BAR,
                  position: google.maps.ControlPosition.TOP_RIGHT
                },
                styles: [
                    {elementType: 'geometry', stylers: [{color: '#242f3e'}]},
                    {elementType: 'labels.text.stroke', stylers: [{color: '#242f3e'}]},
                    {elementType: 'labels.text.fill', stylers: [{color: '#746855'}]},
                    {
                        featureType: 'administrative.locality',
                        elementType: 'labels.text.fill',
                        stylers: [{color: '#d59563'}]
                    },
                    {
                        featureType: 'poi',
                        elementType: 'labels.text.fill',
                        stylers: [{color: '#d59563'}]
                    },
                    {
                        featureType: 'poi.park',
                        elementType: 'geometry',
                        stylers: [{color: '#263c3f'}]
                    },
                    {
                        featureType: 'poi.park',
                        elementType: 'labels.text.fill',
                        stylers: [{color: '#6b9a76'}]
                    },
                    {
                        featureType: 'road',
                        elementType: 'geometry',
                        stylers: [{color: '#38414e'}]
                    },
                    {
                        featureType: 'road',
                        elementType: 'geometry.stroke',
                        stylers: [{color: '#212a37'}]
                    },
                    {
                        featureType: 'road',
                        elementType: 'labels.text.fill',
                        stylers: [{color: '#9ca5b3'}]
                    },
                    {
                        featureType: 'road.highway',
                        elementType: 'geometry',
                        stylers: [{color: '#746855'}]
                    },
                    {
                        featureType: 'road.highway',
                        elementType: 'geometry.stroke',
                        stylers: [{color: '#1f2835'}]
                    },
                    {
                        featureType: 'road.highway',
                        elementType: 'labels.text.fill',
                        stylers: [{color: '#f3d19c'}]
                    },
                    {
                        featureType: 'transit',
                        elementType: 'geometry',
                        stylers: [{color: '#2f3948'}]
                    },
                    {
                        featureType: 'transit.station',
                        elementType: 'labels.text.fill',
                        stylers: [{color: '#d59563'}]
                    },
                    {
                        featureType: 'water',
                        elementType: 'geometry',
                        stylers: [{color: '#17263c'}]
                    },
                    {
                        featureType: 'water',
                        elementType: 'labels.text.fill',
                        stylers: [{color: '#515c6d'}]
                    },
                    {
                        featureType: 'water',
                        elementType: 'labels.text.stroke',
                        stylers: [{color: '#17263c'}]
                    }
                ]
            });
            var infoWindow = new google.maps.InfoWindow({map: map});
            var marker;
            {
                if (navigator.geolocation) {
                    navigator.geolocation.getCurrentPosition(function (position) {
                        var pos = {
                            lat: position.coords.latitude,
                            lng: position.coords.longitude
                        };
                        // Customize marker showing current user
                        var myIcon = {
                            url: 'http://maps.google.com/mapfiles/ms/icons/green-dot.png', // url
                            scaledSize: new google.maps.Size(45, 45), // scaled size
                        };

                        marker = new google.maps.Marker({
                            position: new google.maps.LatLng(pos),
                            map: map,
                            icon: myIcon
                        });
                        google.maps.event.addListener(marker, 'click', (function (marker) {
                            return function () {
                                infoWindow.setContent('<p style="color:black;">Your Location</p>');
                                infoWindow.open(map, marker);
                            }
                        })(marker));
                        map.setCenter(pos);


                        {# Dynamically fetch coordinates #}
                        {% for  user in coordinates %}
                            var marker = new google.maps.Marker({
                                position: new google.maps.LatLng({{ user.userprofile.location.latitude }}, {{ user.userprofile.location.longitude }}),
                                map: map
                            });

                            google.maps.event.addListener(marker, 'click', (function (marker) {
                                return function () {
                                    infoWindow.setContent('<p style="color:black;">{{ user.first_name }} {{ user.last_name }}</p>');
                                    infoWindow.open(map, marker);
                                }
                            })(marker));

                        {% endfor %}

                        // Send user's current location to back-end
                        $.ajax({
                            type: "POST",
                            url: "/connect/pos_map/",
                            data: {
                                "csrfmiddlewaretoken": '{{ csrf_token }}',
                                lat: position.coords.latitude,
                                lng: position.coords.longitude
                            },
                            success: function (json) {
                                console.log("Success:", json);
                            },
                            error: function (xhr, errmsg, err) {
                                console.log(xhr.status + ": " + xhr.responseText);
                            }
                        })

                    }, function () {
                        handleLocationError(true, infoWindow, map.getCenter());
                    });
                } else {
                    // Browser doesn't support Geolocation
                    handleLocationError(false, infoWindow, map.getCenter());
                }

            }
        }
        function handleLocationError(browserHasGeolocation, infoWindow, pos) {
                infoWindow.setPosition(pos);
                infoWindow.setContent(browserHasGeolocation ?
                        'Error: The Geolocation service failed.' :
                        'Error: Your browser doesn\'t support geolocation.');
        }



</script>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCwbSq-w82DHDdJhiMClA-WwPpQaGcecWI&callback=initMap">
</script>
{% endblock %}
