{% extends 'connect/base.html' %}

{% block content %}
    <!-- Modal -->
    <div id="myModal" class="modal fade" role="dialog">
      <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Invite friends</h4>
        </div>
        <div class="modal-body">
        <div class="input-group">
                  <span class="input-group-addon" id="basic-addon1"><i class="glyphicon glyphicon-user"></i></span>
                  <input id="inpEmail" type="text" class="form-control" placeholder="Search with user's email" aria-describedby="basic-addon1">
                  <span class="input-group-btn">
                      <button id="btnSearch" class="btn btn-primary" type="button">Go!</button>
                 </span>
                </div>
        </div>
        <div class="modal-footer">
        <button type="button" class="btn btn-block btn-success" data-dismiss="modal">Add
          <label id="user_name" class="form-control-label"></label> as a friend!
        </button>
        <div id="alert-not-found"style="display: none" class="alert alert-danger alert-dismissable text-center">
          <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>Sorry!</strong> Could not find anyone with the email provided.
        </div>

        </div>
      </div>

      </div>
        </div>

<div id="wrapper" class="toggled">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav" id="users_list">
                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                <li class="sidebar-brand">
                    <a href="#" onclick="refreshOnlineUsers()">
                        Available Users<span ><i class="glyphicon glyphicon-refresh"></i></span>
                    </a>

                </li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->


    </div>
    <!-- /#wrapper -->

<!-- Google Maps page -->
<div id="map" style="height: 100%"></div>
    <script>
      // Note: This example requires that you consent to location sharing when
      // prompted by your browser. If you see the error "The Geolocation service
      // failed.", it means you probably did not give permission for the browser to
      // locate you.



      function initMap() {
        var map = new google.maps.Map(document.getElementById('map'), {
          // Initialize the map over the Uni
          center: {lat: 55.870351, lng: -4.28509},
          zoom: 16,
          mapTypeControlOptions: {
            style: google.maps.MapTypeControlStyle.DROPDOWN_MENU,
            position: google.maps.ControlPosition.TOP_RIGHT
           }
        });
        var infoWindow = new google.maps.InfoWindow({map: map});

        // Try HTML5 geolocation.
        if (navigator.geolocation) {
          navigator.geolocation.getCurrentPosition(function(position) {
            var pos = {
              lat: position.coords.latitude,
              lng: position.coords.longitude
            };
            infoWindow.setPosition(pos);
            infoWindow.setContent('Your Location');
            map.setCenter(pos);

            $.ajax({
                type : "POST",
                url : "/connect/pos_map/",
                data : {
                    "csrfmiddlewaretoken": '{{ csrf_token }}',
                    lat: position.coords.latitude,
                    lng: position.coords.longitude
                },
                success : function(json){
                    console.log("Success:", json);
                },
                error : function(xhr,errmsg,err) {
                    console.log(xhr.status + ": " + xhr.responseText);
                }
            })

          }, function() {
            handleLocationError(true, infoWindow, map.getCenter());
          });
        } else {
          // Browser doesn't support Geolocation
          handleLocationError(false, infoWindow, map.getCenter());
        }
      }

      function handleLocationError(browserHasGeolocation, infoWindow, pos) {
        infoWindow.setPosition(pos);
        infoWindow.setContent(browserHasGeolocation ?
                              'Error: The Geolocation service failed.' :
                              'Error: Your browser doesn\'t support geolocation.');
      }



    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCwbSq-w82DHDdJhiMClA-WwPpQaGcecWI&callback=initMap">
    </script>
{% endblock %}
