{% extends 'connect/base.html' %}
{% load staticfiles %}

{% block content %}

<div class="jumbotron">
      <div class="container">
        <h1 class="display-3">UofG Connect</h1>
        <p id="landing_mission">
          UofG Connect’s primary objective is to help students find their friends’ location
            around the campus and provide an intuitive interface to keep them in touch.
            Students can register only through their university e-mail address and once logged in,
            they can search for their friends that are UofG users.
            The app will then display the friends’ locations on the map
            and allow the user to send a message to their friends.
        </p>
      </div>
    </div>


    <div class="container" id="lnd_bottom">
      <div class="row">
        <div class="col-md-6 col-sm-6">
    <img id= "bg2" src="{% static "images/map1.jpg" %}" alt="Picture of Rango" />
        </div>
        <div class="col-md-6 col-sm-6">
    <img id= "bg2" src="{% static "images/map2.jpg" %}" alt="Picture of Rango" />
        </div>
</div>
</div>

    <div class="container" id="lnd_bottom">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4 col-sm-4">
          <h2>User Registration & Authentication</h2>
          <p>A user registration and authentication process allows each individual user-student to register and access the student’s availability map in the campus.
        </p>
        </div>
        <div class="col-md-4 col-sm-4">
          <h2>Extract User Location</h2>
        </br>
          <p>The application requires access to the user’s current location in order to track the user’s presence in the campus. However, the presence is not persistent after closing the application. </p>
       </div>
          <div class="col-md-4 col-sm-4">
          <h2>Interaction Between Students</h2>
          <p>The application enables user interaction between the students of the campus such as short invitations.</p>
        </div>
      </div>


{% endblock %}
