{% extends 'connect/base.html' %}

{% block content %}
<div class="container">

        <!-- Introduction Row -->


        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Pings

                </h1>
                {% if messages %}
                <div id="alert-messages" class="alert alert-info text-center">
                    You can see the pending invitations to accept or reject
                </div>
                {% else %}
                <div id="alert-nomessages" class="alert alert-info text-center">
                    You have no available invitations
                </div>
                {% endif %}
                {% for message in messages %}
                {% if message.verb == "accepted"  %}
                <div id="alert-accepted" class="alert alert-success alert-dismissable text-center">
                    <a onclick="dismissAlert('{{ message.id }}')" href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    {{ message.actor.first_name}} {{message.actor.last_name}} accepted your invitation to meet {{message.description}}
                </div>
                {% elif message.verb == "rejected" %}
                <div id="alert-rejected" class="alert alert-danger alert-dismissable text-center">
                    <a onclick="dismissAlert('{{ message.id }}')" href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    {{ message.actor.first_name}} {{message.actor.last_name}} rejected your invitation to meet {{message.description}}
                </div>
                {% endif %}
                {% endfor %}
            </div>
        </div>
        <div class="row">
            {% for message in messages %}
              <div id="{{ message.id }}" class="col-sm-6 col-md-4">
                <div style="background-color: #ffff80"  class="thumbnail">
                  <div class="caption" style="word-wrap: break-word;">
                      <div style="text-align: center">
                         <span><i style="color: black" class="glyphicon glyphicon-user"></i></span>
                          <p style="color:black ;text-align: center;">{{message.actor.first_name}} {{message.actor.last_name}}</p>
                      </div>
                      <hr>
                      <p style="color:black">{{message.verb}} <br /> Meeting: {{message.description}} </p>
                      <hr>
                      <div style="text-align: center;">
                        <label style="text-align: center; font-size:12px; color:black">Sent {{message.timesince}} minutes ago</label>
                      </div>
                      <hr>
                    <p style="text-align: center">
                    <a href="#" class="btn btn-primary" onclick="readMessage('{{ message.id }}', 'accept', '{{message.actor.username}}', '{{message.description}}')" role="button">Accept
                            <span class="glyphicon glyphicon-ok pull-left"></span>
                        </a>
                        <a href="#" class="btn btn-danger" onclick="readMessage('{{ message.id }}', 'reject', '{{message.actor.username}}', '{{message.description}}')" role="button">Reject
                            <span class="glyphicon glyphicon-remove pull-left"></span>
                        </a>
                    </p>
                  </div>
              </div>
                </div>
            {% endfor %}
        </div>

</div>

<script>


    function dismissAlert(messageID) {
    $.ajax({
        type: 'POST',
        url: "/connect/dismissAlert/",
        data: {
            id: messageID,
            "csrfmiddlewaretoken": '{{ csrf_token }}',
        },
        success: function(response){
        }
        }).done(function(data){
        });
}

     function readMessage(messageID, choice, recipient, meeting) {
            $("div[id^=" + messageID + "]").remove();
            var messagesLeft = $('.thumbnail').length
            if (messagesLeft == 0) {
                document.getElementById("badgeLabel").innerHTML = 0;
                document.getElementById("alert-messages").innerHTML = "You have no available invitations";
            }
            document.getElementById("badgeLabel").innerHTML = messagesLeft;
            $.ajax({
                    type: 'POST',
                    url: "/connect/readMessage/",
                    data: {
                        id: messageID,
                        action: choice,
                        recipient: recipient,
                        meeting: meeting,
                        "csrfmiddlewaretoken": '{{ csrf_token }}',
                    },
                    success: function(response){
                    }
                }).done(function(data){
                });
        }
</script>



{% endblock %}
