

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

#map {
	margin: 0;
	position: relative;
	padding: 0;
	top: 0;
	bottom: 0;
	right: 0;
	max-height: 90vh;
}

/* Optional: Makes the sample page fill the window. */
html, body {
	height: 100%;
	margin: 0px;
  	padding: 0px
}


.rounded-avatar {
	line-height: 0;
	display: inline-block;
	margin-bottom: -14px;
	margin-top: 2px;
	border: 2px solid rgba(255,255,255,0.4);
	border-radius: 50%;
	transition: linear 0.25s;
	height: 50px;
	width: 50px;
}

.faqHeader {
	font-size: 27px;
	margin: 20px;
}

.panel-heading [data-toggle="collapse"]:after {
	font-family: 'Glyphicons Halflings';
	content: "e072"; /* "play" icon */
	float: right;
	color: #F58723;
	font-size: 18px;
	line-height: 22px;
	/* rotate "play" icon from > (right arrow) to down arrow */
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	transform: rotate(-90deg);
}

.panel-heading [data-toggle="collapse"].collapsed:after {
	/* rotate "play" icon from > (right arrow) to ^ (up arrow) */
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	transform: rotate(90deg);
	color: #454444;
}
