

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

#map {
	margin: 0;
	position: fixed;
	padding: 0;
	top: 0;
	bottom: 0;
	right: 0;
	max-height: 90%;

}

/* Optional: Makes the sample page fill the window. */
html, body {
	height: 100%;
	margin: 0;
  	padding: 0;
}

* {
    margin:0;
}

#bg {
	position: fixed;
  	top: 0;
  	left: 0;

  	/* Preserve aspet ratio */
  	min-width: 100%;
  	min-height: 100%;
}

#mainNav {

}

.faqHeader {
	font-size: 27px;
	margin: 20px;
}

.panel-heading [data-toggle="collapse"]:after {
	font-family: 'Glyphicons Halflings';
	content: "e072"; /* "play" icon */
	float: right;
	color: #F58723;
	font-size: 18px;
	line-height: 22px;
	/* rotate "play" icon from > (right arrow) to down arrow */
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	transform: rotate(-90deg);
}

.panel-heading [data-toggle="collapse"].collapsed:after {
	/* rotate "play" icon from > (right arrow) to ^ (up arrow) */
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	transform: rotate(90deg);
	color: #454444;
}

.landing_image {
	padding-top: 145px;
	padding-bottom: 50px;x
}

#tasios {
	left: 200px;
}

#about_text {
	text-align: justify;
}
